@page "/sensor-charts"
@using HomeAnalytica.Common.Const
@using HomeAnalytica.Common.DTOs
@using HomeAnalytica.Web.Services

@rendermode InteractiveServer

<PageTitle>Sensor Charts</PageTitle>


<h1>Sensor Charts</h1>

<div class="input-group mb-2">
    <label class="input-group-text" for="sensorSelect">Select Sensor</label>
    <select id="sensorSelect" class="form-select" @onchange="OnSensorSelectedAsync">
        <option value="" disabled selected>Please select a sensor</option>
        @foreach (var sensor in _sensorDevices)
        {
            <option value="@sensor.Id">@sensor.Name (@sensor.Type)</option>
        }
    </select>
</div>

<!-- https://apexcharts.github.io -->
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title mb-0">Sensor Data Visualization</h5>
                </div>
                <div class="card-body">
                    @if (ChartData.Any())
                    {
                        <ApexChart TItem="SensorDataDto"
                                   Title="Sensor Data"
                                   @ref ="ChartRef"
                                   Options="@ChartOptions">

                            <ApexPointSeries TItem="SensorDataDto"
                                             Items="@ChartData"
                                             Name="@SelectedSensorName"
                                             SeriesType="SeriesType.Line"
                                             XValue="@(e => e.Timestamp.ToString())"
                                             YValue="@(e => (decimal) e.Value)"
                                             Stroke="@(new ApexCharts.SeriesStroke { Color = "#97a9cd", DashSpace = 3, Width = 5 })"
                                             />
                        </ApexChart>
                    }
                    else
                    {
                        <p class="text-muted">Select a sensor to view its data.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
