@page "/sensor-data"
@using HomeAnalytica.Common.Const
@using HomeAnalytica.Common.DTOs
@using HomeAnalytica.Web.Services
@rendermode InteractiveServer
@inject IHttpClientFactory HttpClientFactory
@inject ISensorDataService SensorDataService

<PageTitle>Data Input</PageTitle>

<h1>Sensor Data</h1>

<p role="status">Please enter your data:</p>

<div class="card my-2">
    <div class="card-header">
        <h5>Temperature Sensor</h5>
    </div>
    <div class="card-body">
        <div class="input-group mb-2">
            <label class="input-group-text" for="temperatureSensorSelect">Select Sensor</label>
            <select id="temperatureSensorSelect" class="form-select" @bind="_selectedTempSensorId">
                <option value="" disabled selected>Please select a sensor</option>
                @foreach (var sensor in _tempSensorDevices)
                {
                    <option value="@sensor.Id">@sensor.Name (@sensor.Id)</option>
                }
            </select>
        </div>
        <div class="input-group mb-2">
            <span class="input-group-text">Temperature (°C)</span>
            <input @bind="_temperature" type="number" class="form-control" step="0.1" />
        </div>
    </div>
</div>


<div class="card my-2">
    <div class="card-header">
        <h5>Humidity Sensor</h5>
    </div>
    <div class="card-body">
        <div class="input-group mb-2">
            <label class="input-group-text" for="humiditySensorSelect">Select Sensor</label>
            <select id="humiditySensorSelect" class="form-select" @bind="_selectedHumiditySensorId">
                <option value="" disabled selected>Please select a sensor</option>
                @foreach (var sensor in _humiditySensorDevices)
                {
                    <option value="@sensor.Id">@sensor.Name (@sensor.Id)</option>
                }
            </select>
        </div>
        <div class="input-group mb-2">
            <span class="input-group-text">Humidity (%)</span>
            <input @bind="_humidity" type="number" class="form-control" step="1" />
        </div>
    </div>
</div>

<div class="card my-2">
    <div class="card-header">
        <h5>Energy Consumption Sensor</h5>
    </div>
    <div class="card-body">
        <div class="input-group mb-2">
            <label class="input-group-text" for="energySensorSelect">Select Sensor</label>
            <select id="energySensorSelect" class="form-select" @bind="_selectedEnergyConsumptionSensorId">
                <option value="" disabled selected>Please select a sensor</option>
                @foreach (var sensor in _energyConsumptionSensorDevices)
                {
                    <option value="@sensor.Id">@sensor.Name (@sensor.Id)</option>
                }
            </select>
        </div>
        <div class="input-group mb-2">
            <span class="input-group-text">Energy Consumption (kWh)</span>
            <input @bind="_energyConsumption" type="number" class="form-control" step="0.1" />
        </div>
    </div>
</div>

<div class="d-flex justify-content-end my-4">
    <button class="btn btn-primary" @onclick="SubmitData">Submit Data</button>
</div>

@if (isDataSubmitted)
{
    <h3>Submitted Data:</h3>
    <ul>
        <li>Temperature: @_temperature °C</li>
        <li>Humidity: @_humidity %</li>
        <li>Energy Consumption: @_energyConsumption kWh</li>
    </ul>
}
